:root {
  --primary-color: #000000;
  --primary-color-rgb: 0, 0, 0;
  --secondary-color: #870606;
  --secondary-color-rgb: 116, 0, 0;
  --tertiary-color: #f4fbfc;
  --tertiary-color-rgb: 244, 251, 252;
  --custom-color: rgb(0, 0, 0);
  --icon-color: #329bdd;
  --icon-color-2: rgb(64, 140, 255);
}

